<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages used for Data Science</li>
    <li>List commonly libraries used for Data Science</li>
    <li>Show arithmetic expression examples</li>
</ul>

<h2>Author</h2>
<p>Juan Cabrera</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>NumPy</li>
    <li>Keras</li>
    <li>Pandas</li>
</ol>

<table>
    <thead>
        <th>Data Science Tools</th>
    </thead>
    <tbody>
        <tr>
            <td>Anaconda</td>
        </tr>
        <tr>
            <td>Jupyter Notebook</td>
        </tr>
        <tr>
            <td>RStudio</td>
        </tr>
    </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335